@import url('https://fonts.googleapis.com/css?family=Assistant');

.App {
  font-family: 'Assistant';
  box-sizing: border-box;
  background-color: #fcfcf7;
}

@media only screen and (max-width: 600px) {
  .desktopOnly {
    display: none;
  }
}


