.kocolabs .image2 {
    width: 50%;
}

.kocolabs .logo img {
    width: auto !important;
    height: 17px !important;
    margin-bottom: 10px;
}


@media only screen and (max-width: 450px) {
    .kocolabs .logo img {
        height: 12px !important;
        width: auto !important;
    }
}
