@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

.images {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-right: 50px;
    margin-right: 0px;
    padding-bottom: 60px;
    float: right;
}

.images img {
    height: auto !important;
    width: 100%;
    margin: 50px 0px 0px 0px;
}

.imageOverlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    width: 38%;
    justify-content: center;
    position: fixed;
    height: 100%;
    z-index: 1;
}

.info div {
    width: 82%;
}

.main {
    width: 100%;
    display: flex;
    height: 100%;
    position: relative;
}

.subtitle {
    font-weight: 200;
    width: 82%;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
}


.description {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.5px;
}

.technology, .links {
    font-size: 12px;
    letter-spacing: 0.7px;
}

.techList, .linkList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.techList {
    margin-top: 15px;
}

.linkList {
    margin-top: 40px;
}

.links {
    display: flex;
    align-items: center;
}

.technology {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 16px;
    margin: 12px 12px 0px 0px;
}

.link {
    margin-right: 18px;
}

.link a {
    text-decoration: none;
    color: black;
}

.seeOn {
    margin-right: 15px;
    align-self: center;
    margin-bottom: 10px;
}

.icon {
    margin-right: 5px;
    font-size: 15px;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    width: 80%;
    height: auto;
}

.scrollMessage {
    position: fixed;
    bottom: 50px;
    right: -30px;
    transform: rotate(90deg);
    z-index: 3;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 200;
}

:global .read-more-button {
    color: blue;
}

:global .display-text-group {
    display: none;
}

.firstParagraph {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .scrollMessage {
        display: none;
    }

    .main {
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }

    .main, .images, .description, .imageOverlay, .info {
        position: static;
    }

    .images, .info {
        width: 65%;
    }

    .subtitle {
        width: 100%;
    }

    .info {
        margin-left: 0;
    }

    .images {
        margin-left: 0;
        padding-right: 0;
        
    }

    .imageOverlay {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info div {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .images, .info {
        width: 80%;
    }

    .subtitle {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    :global .display-text-group {
        display: inline;
        white-space: pre-wrap;
    }

    :global .read-more-button {
        display: inline !important;
        color: #a64453;
    }

    :global .read-more-button:hover {
        cursor: pointer;
        color: #c98b96;
        transition: 0.2s;
    }

    .firstParagraph {
        display: inline;
    }

    .paragraph {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        padding-top: 20px;
    }
}