@import url('https://fonts.googleapis.com/css?family=Quicksand');

.images {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-right: 50px;
    margin-right: 0px;
    overflow-y: scroll;
    padding-bottom: 60px;

}

.images img {
    height: auto !important;
    width: 100%;
    margin: 50px 0px 0px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    margin-top: 11%;
    height: auto;
}

.info div {
    width: 65%;
}

.main {
    width: 100%;
    display: flex;
    height: 100%;
}

.description {
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: 0.6px;
}

.technology, .links {
    font-size: 12px;
    letter-spacing: 0.7px;
    margin: 10px 0px;
}

.techList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.technology {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 16px;
    margin: 12px 12px 0px 0px;
}

.link a {
    text-decoration: none;
    color: black;
}

.seeOn {
    margin-right: 15px;
}

.icon {
    margin-right: 5px;
    font-size: 15px;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    width: 80%;
    height: auto;
}

.next {
    text-decoration: none;
    color: black;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    align-self: flex-end;
    margin-right: 40px;
    justify-self: flex-end;
}

.next:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.nextMobile {
    display: none;
}