.main {
    display: flex;
    left: 210px;
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow-y: scroll;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .main {
        left: 0;
        position: static;
    }
}