.container {
    margin: 40px;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-row: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.project img {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.project img:hover {
    opacity: 0.2;
    transition: 0.7s;
    cursor: url('../../images/other/eye.png'), auto;
}

.project:hover .name {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.project {
    position: relative;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.name {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 6px;
}

.name a {
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .images img {
        margin: 20px 0px;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        margin: 25px;
    }

    .images img {
        margin: 10px 0px;
    }
}